a { text-decoration:none; }

img { border: 0; }

body { background-color:#FFF; margin:0px; scrollbar-base-color:#6D6049; scrollbar-face-color:#6D6049; scrollbar-highlight-color:#FFF;
scrollbar-3dlight-color:#6D6049; scrollbar-shadow-color:#6D6049; scrollbar-track-color:#FFF; scrollbar-arrow-color:#000; }
	
b { font-weight:bold; }

.big_links { text-decoration:none; color:#000; font-weight:bold; font-style:normal; font-size:11px; font-family:Tahoma,Arial,Helvetica; }

.footer_links { text-decoration:none; color:#FFF; font-weight:bold; font-style:normal; font-size:11px; font-family:Tahoma,Arial,Helvetica; }

.footer_links:hover { color:#000; }

.navi_links { text-decoration:none; color:#000; font-weight:bold; font-style:normal; font-size:11px; font-family:Tahoma,Arial,Helvetica; }

.navi_links:hover { color:#6D6049; }

table.global { width:936px; border-style:none; border-width:0px; border-collapse:collapse; }

table.big_container_tbl { width:700px; vertical-align: top; border-style:none; border-width:0px; font-size:11px; font-weight:normal; font-family:Tahoma,Arial,Helvetica; }

td.big_container_td { text-align:center; font-size:11px; font-weight:normal; font-family:Tahoma,Arial,Helvetica; }

table.smalltbl { width:300px; border-style:solid; border-width:3px; border-color:#6D6049; padding:3px; border-collapse:collapse; }

th.smalltbl_th { border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#6D6049; font-size:12px; font-weight:bold;
font-family:Tahoma,Arial,Helvetica; text-align:center; padding:3px; }

td.smalltbl_td { border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#6D6049; font-size:11px; font-weight:normal;
font-family:Tahoma,Arial,Helvetica; text-align:center; padding:3px; }

table.callisttbl { width:90%; border-width:3px; border-color:#6D6049; padding:3px; border-radius: 20px 20px 20px 20px; border-style:groove; }

th.callist_th { border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#6D6049; font-size:12px; font-weight:bold;
font-family:Tahoma,Arial,Helvetica; text-align:center; padding:3px; }

td.callist_td { border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#6D6049; font-size:11px; font-weight:normal;
font-family:Tahoma,Arial,Helvetica; text-align:center; padding:3px; }

table.navigation_tbl { width:190px; border-style:none; border-width:0px; }

table.login_tbl { width:180px; border-style:none; border-width:0px; padding:0px; margin:0px; }

td.login_td { font-size:11px; font-weight:bold; font-family:Tahoma,Arial,Helvetica; text-decoration:none; text-align:center; padding-bottom:5px; }

table.content_inner_tbl { width:725px; height:470px; border-style:none; border-width:0px; font-size:11px; font-weight:normal; font-family:Tahoma,Arial,Helvetica; }

table.little_tbl { width:300px; border-style:solid; border-width:3px; border-color:#6D6049; border-collapse:collapse; }

table.head_foot { width:735px; ! important; height:20px; }

th.headline { font-size:18px; font-weight:bolder; font-family:Tahoma,Arial,Helvetica; text-decoration:underline; }

td.infolines_td { font-size:11px; font-weight:normal; font-family:Tahoma,Arial,Helvetica; text-decoration:none; text-align:center; }

td.td1 { width:190px; height:27px; }

td.td2 { width:11px; height:27px; }

td.td3 { width:339px; height:27px; }

td.infolinks { width:396px; height:27px; background-color:#FFF; text-align:right; padding-top:5px; padding-right:5px; }

td.td5 { text-align:center; }

td.navicontainer_td { width:190px; }

p.navigation { padding-left:5px; padding-right:5px; padding-top:0px; padding-bottom:0px; }

.ds_box { background-color: #FFF; border: 1px solid #000; position: absolute; z-index: 32767; }

.ds_tbl { background-color: #FFF; }

.ds_head { background-color: #333; color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; text-align: center; letter-spacing: 2px; }

.ds_subhead { background-color: #CCC; color: #000; font-size: 12px; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; width: 32px; }

.ds_cell { background-color: #EEE; color: #000; font-size: 13px; text-align: center; font-family: Arial, Helvetica, sans-serif; padding: 5px; cursor: pointer; }

.ds_cell:hover { background-color: #F3F3F3; }

#menu { margin: 0; padding: 0; list-style: none; }

#menu li { display: inline; }

#menu li a { padding: 5px 20px; margin: 0; background: #CB9530; color: #fff; border: 1px solid #89a;
text-decoration: none; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px; }

#menu li a:hover, #menu li a:focus { color: #000; }
	  
.butlink { border-size: 0px; border-style: none; background: inherit; text-align:left; font-weight: bold; font-size: 12px;
font-family: Arial, Helvetica, sans-serif; cursor: hand; cursor: pointer; adding: 0px; }

td.status { vertical-align:top; }

td.gap { padding-top:5px; font-size:11px; font-family:Tahoma,Arial,Helvetica; }

li.global { font-size:11px; font-weight:normal; font-family:Tahoma,Arial,Helvetica; text-decoration:none; padding-bottom:5px; line-height:20px; text-align:justify; }

input { background-color:#FCFEE5; border-style:solid; border-color:#6D6049; border-width:1px; font-size:11px; font-weight:normal; font-family:Tahoma,Arial,Helvetica;
text-decoration:none; padding-left:2px; padding-right:2px; }

select { border-radius:6px; background-color:#FCFEE5; border-style:solid; border-color:#6D6049; border-width:1px; font-size:11px; font-weight:normal;
font-family:Tahoma,Arial,Helvetica; text-decoration:none; padding-left:2px; padding-right:2px; }

.centerline { font-size:11px; font-weight:bolder; font-family:Tahoma,Arial,Helvetica; text-align:center; }

.bglightgreen { background-color:#A4D2AE; }

td.header_tbl_content { width:735px; height:26px; font-size:11px; font-weight:bolder; font-family:Tahoma,Arial,Helvetica; color:#FFF; vertical-align:top;
text-align:left; padding-left:5px; padding-top:2px; }

td.footer_tbl_content { width:735px; height:36px; }

back_button { float: left; text-align: center; font-size: 11px; font-weight: bold; border: 1px solid #92C86A; width: auto; padding: 0px 10px; line-height: 18px;
margin: 1px; cursor: hand; }

div.tstyle { font-size:11px;	font-weight:bolder; font-family:Tahoma,Arial,Helvetica; color:#FFF; vertical-align:top; text-align:left;
padding-left:5px; padding-top:2px; right:auto; }

div.ustyle { font-size:11px; font-weight:bolder; font-family:Tahoma,Arial,Helvetica; color:#FFF; vertical-align:top; text-align:right; padding-right:5px; padding-top:2px; }

td.st { border: 1px solid blue;-moz-border-radius: 8px;-khtml-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px; }

td.su { border: 1px solid blue;background-color: #E1EEFD;-moz-border-radius: 8px;-khtml-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;padding: 8px 25px 8px; }

ul.spe { list-style-type: none;margin: 0; padding: 0; overflow: hidden; background-color: #efefef; -moz-border-radius: 25px; -webkit-border-radius: 25px; border: 2px solid  #789;
width: 80%; text-align:center; margin:auto; }

li.spe { float: left; }

li.spe a { display: block;color: #000000; text-align: center; padding: 8px 30px; text-decoration: none; }

li.spe a:hover { background-color: #8C8F91 }

table.rwhite { padding:20px; background-color: #FFFFFF; border: 4px solid #789; -moz-border-radius: 15px; -khtml-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
	
table.rsky { padding:20px; background-color: #DFF3F7; border: 4px solid #789; -moz-border-radius: 15px; -khtml-border-radius: 15px; -webkit-border-radius: 15px;
border-radius: 15px; }

ble.ar { width: 90%; margin:auto; border-style:solid; border-width:2px ; border-color:#000000; padding:3px; background: #FFFFFF; -moz-border-radius:20px; -webkit-border-radius:20px;
border-radius:20px; }

td.ar { border-style:solid; background-color: #DFF3F7; border-width:3px; padding:3px; margin:auto; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
text-align:center; }

td.aro { border-style:solid; border-width:1px; padding:3px; margin:auto; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; text-align:center; }

table.rgrey { padding:20px; background-color: #efefef; border: 5px solid #3c9bcc; -moz-border-radius: 15px; -khtml-border-radius: 15px; -webkit-border-radius: 15px;
border-radius: 15px; width: 80%; }

table.ryel { padding:20px; background-color: #fbfcea; border: 4px solid #789; -moz-border-radius: 15px; -khtml-border-radius: 15px; -webkit-border-radius: 15px;
border-radius: 15px; }

.headline_global { font-size:16px; font-weight:bolder; font-family:Tahoma,Arial,Helvetica; text-decoration:underline; text-align:center; padding-bottom:5px; }

table.rates_tbl { width:300px; border-style:none; border-width:0px; padding:5px; border-collapse:collapse; }

.gapright { font-size:11px; font-weight:bolder; font-family:Tahoma,Arial,Helvetica; color:#000; text-decoration:none; text-align:right; padding:5px; }

.big_links:hover { color:#6D6049; }

th.small_headline { font-size:12px; font-weight:bolder; font-family:Tahoma,Arial,Helvetica; text-decoration:none; }

td.border_tds { font-size:11px; font-weight:normal; font-family:Tahoma,Arial,Helvetica; text-decoration:none; border-color:#6D6049; border-style:solid;
border-width:1px; padding:3px;}
